# for loops

for değişken in iterable:
    işlem satırı/ları

In [1]:
for i in "techpro":
    print(i)

t
e
c
h
p
r
o

In [2]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [3]:
for i in 1453: #iterable olması lazım
    print(i)

TypeError: 'int' object is not iterable

In [4]:
for name in ("adem","ahmad","filiz"):
    print(name)

adem
ahmad
filiz

In [6]:
liste_1 = [1, 2, 3, 4, 5]
liste_1

[1, 2, 3, 4, 5]

In [7]:
for i in liste_1:
    print(i ** 2)

1
4
9
16
25

In [9]:
i = 0
while i < len(liste_1):
    print(liste_1[i] ** 2)
    i += 1

1
4
9
16
25

In [19]:
for i in liste_1:
    print(i ** 2,end="-")

1-4-9-16-25-

In [20]:
empty_str = ""
for i in "techpro":
    print(i + "-")

t-
e-
c-
h-
p-
r-
o-

In [21]:
empty_str = ""
for i in "techpro":
    empty_str += i + "-"
print(empty_str)

t-e-c-h-p-r-o-

In [18]:
empty_str = ""
for i in "techpro":
    empty_str += i + "-"
print(empty_str.rstrip("-"))

t-e-c-h-p-r-o

In [22]:
empty_list = []
for i in "techpro":
    empty_list.append(i)
    empty_list.append("-")
print(empty_list)

['t', '-', 'e', '-', 'c', '-', 'h', '-', 'p', '-', 'r', '-', 'o', '-']

In [23]:
empty_list = []
for i in "techpro":
    empty_list.append(i)
    empty_list.append("-")
empty_list.pop()
print(empty_list)

['t', '-', 'e', '-', 'c', '-', 'h', '-', 'p', '-', 'r', '-', 'o']

In [24]:
empty_list = []
for i in "techpro":
    empty_list.append(i)
    empty_list.append("-")
empty_list.pop()
print("".join(empty_list))

t-e-c-h-p-r-o

In [26]:
a = tuple("12345")
a

('1', '2', '3', '4', '5')

In [27]:
for i in a:
    print(i)

1
2
3
4
5

In [29]:
b = set("sabahattin")
print(b)

{'i', 's', 't', 'a', 'h', 'n', 'b'}

In [30]:
for i in b:
    print(i)

i
s
t
a
h
n
b

In [31]:
dict_1 = {"name" : "ismet", "job" : "data scientist", "age" : 25}
dict_1

{'name': 'ismet', 'job': 'data scientist', 'age': 25}

In [32]:
for i in dict_1:
    print(i)

name
job
age

In [34]:
dict_1.values()

dict_values(['ismet', 'data scientist', 25])

In [33]:
for i in dict_1.values():
    print(i)

ismet
data scientist
25

In [35]:
for i in dict_1.keys():
    print(i)

name
job
age

In [36]:
for i, j in dict_1:
    print(i,j)

ValueError: too many values to unpack (expected 2)

In [37]:
dict_1.items()

dict_items([('name', 'ismet'), ('job', 'data scientist'), ('age', 25)])

In [38]:
for i, j in dict_1.items():
    print(i,j)

name ismet
job data scientist
age 25

In [50]:
dict_2 = {"name" : "ismet", "surname" : "yılmaz", "age" : 25}
dict_2

{'name': 'ismet', 'surname': 'yılmaz', 'age': 25}

In [51]:
for i, j in dict_2.items():
    print(f"key : {i:<20}, value : {j:<20}")

key : name                , value : ismet
key : surname             , value : yılmaz
key : age                 , value : 25

In [ ]:
#çalıştırma sonsuz döngü
aa = [1,2]
for i in aa:
    print(i)
    aa.append(i)

In [ ]:
for i in range(50):
    print("hoca bize ceza verdi")

In [57]:
for i in range(1,51):
    print(f"{i}.hoca bize ceza verdi")

1.hoca bize ceza verdi
2.hoca bize ceza verdi
3.hoca bize ceza verdi
4.hoca bize ceza verdi
5.hoca bize ceza verdi
6.hoca bize ceza verdi
7.hoca bize ceza verdi
8.hoca bize ceza verdi
9.hoca bize ceza verdi
10.hoca bize ceza verdi
11.hoca bize ceza verdi
12.hoca bize ceza verdi
13.hoca bize ceza verdi
14.hoca bize ceza verdi
15.hoca bize ceza verdi
16.hoca bize ceza verdi
17.hoca bize ceza verdi
18.hoca bize ceza verdi
19.hoca bize ceza verdi
20.hoca bize ceza verdi
21.hoca bize ceza verdi
22.hoca bize ceza verdi
23.hoca bize ceza verdi
24.hoca bize ceza verdi
25.hoca bize ceza verdi
26.hoca bize ceza verdi
27.hoca bize ceza verdi
28.hoca bize ceza verdi
29.hoca bize ceza verdi
30.hoca bize ceza verdi
31.hoca bize ceza verdi
32.hoca bize ceza verdi
33.hoca bize ceza verdi
34.hoca bize ceza verdi
35.hoca bize ceza verdi
36.hoca bize ceza verdi
37.hoca bize ceza verdi
38.hoca bize ceza verdi
39.hoca bize ceza verdi
40.hoca bize ceza verdi
41.hoca bize ceza verdi
42.hoca bize ceza verdi
43.hoca bize ceza verdi
44.hoca bize ceza verdi
45.hoca bize ceza verdi
46.hoca bize ceza verdi
47.hoca bize ceza verdi
48.hoca bize ceza verdi
49.hoca bize ceza verdi
50.hoca bize ceza verdi

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
number = int(input("0 ile 9 arasında bir rakam girin.(0 ve 9 dahil)"))

if number in [0,1,2,3,4,5,6,7,8,9]:
    for i in range(1,11):
        print(f"{i:<2} x {number} = {i * number}")
else:
    print("0 ile 9 arasında sayı girmenizi istemiştim.")

1  x 5 = 5
2  x 5 = 10
3  x 5 = 15
4  x 5 = 20
5  x 5 = 25
6  x 5 = 30
7  x 5 = 35
8  x 5 = 40
9  x 5 = 45
10 x 5 = 50

In [2]:
while True:    
    number = int(input("0 ile 9 arasında bir rakam girin.(0 ve 9 dahil)"))

    if number in [0,1,2,3,4,5,6,7,8,9]:
        for i in range(1,11):
            print(f"{i:<2} x {number} = {i * number}")
        break
    else:
        print("0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin")

0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
1  x 5 = 5
2  x 5 = 10
3  x 5 = 15
4  x 5 = 20
5  x 5 = 25
6  x 5 = 30
7  x 5 = 35
8  x 5 = 40
9  x 5 = 45
10 x 5 = 50

In [4]:
giriş_hakkı = 3
while True:    
    number = int(input("0 ile 9 arasında bir rakam girin.(0 ve 9 dahil)"))
    giriş_hakkı -= 1
    if number in [0,1,2,3,4,5,6,7,8,9]:
        for i in range(1,11):
            print(f"{i:<2} x {number} = {i * number}")
        break
    else:
        print("0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin")
    
    if giriş_hakkı == 0:
        print("giriş hakkınız bitti")
        break

0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
giriş hakkınız bitti

In [5]:
giriş_hakkı = 3
while True:    
    number = int(input("0 ile 9 arasında bir rakam girin.(0 ve 9 dahil)"))
    giriş_hakkı -= 1
    if number in [0,1,2,3,4,5,6,7,8,9]:
        for i in range(1,11):
            print(f"{i:<2} x {number} = {i * number}")
        break
        
    if giriş_hakkı == 0:
        print("giriş hakkınız bitti")
        break
    else:
        print("0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin")

0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
0 ile 9 arasında sayı girmenizi istemiştim. Lütfen doğru sayıyı girin
giriş hakkınız bitti

In [6]:
50 * 51 /2

1275.0

In [ ]:
sum_ = 0
for i in range(51):
    sum_ += i
    print(sum_)

In [9]:
sum_ = 0
for i in range(51):
    sum_ += i
print(sum_)

1275

In [10]:
sum_ = 0
for i in range(20,51):
    sum_ += i
print(sum_)

1085

In [ ]:
list(range(0,51,2))

In [12]:
# çift sayıların toplamı
sum_ = 0
for i in range(0,51,2):
    sum_ += i
print(sum_)

650

In [13]:
# tek sayıların toplamı
sum_ = 0
for i in range(1,50,2):
    sum_ += i
print(sum_)

625

In [2]:
sum([1,2,3,4,5])

15

In [5]:
sum(range(51))

1275

In [3]:
sum(list(range(51)))

1275

In [4]:
sum((1, 2, 3.3, 4.5))

10.8

In [7]:
sum((4,5,6,7,8,9))

39

In [8]:
sum((4,5,6,7,8,9),6)

45

In [9]:
sum((4,5,6,7,8,9), 100)

139

In [10]:
sum((4,5,6,7,8,9,True))

40

In [11]:
sum((4,5,6,7,8,9,True,"a"))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
sum(("a","b","c")) # default değeri int sıfır olduğu için işlem yapmaz

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### break, continue

In [15]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)

1
2
3
4
5
6
7
8
9

In [16]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)
    if i % 3 == 0:
        print(i ** 2)
        break

1
2
3
9

In [21]:
sum([1,2,3,4,5,6,7,8,9])

45

In [20]:
k = 0
for i in [1,2,3,4,5,6,7,8,9]:
    if i == 5:
        continue
    k += i

print(k)

40

In [22]:
for i in "techpro":
    if i == "p":
        continue
    print(i)

t
e
c
h
r
o

In [23]:
k = 0
for i in [1,2,3,4,5,6,7,8,9]:
    if i == 5:
        continue
    #k += i

print(k)

0

### zip()

In [24]:
a = ["apple", "orange", "banana"]
b = [1,2,3]

In [25]:
zip(a,b)

In [26]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('banana', 3)]

In [27]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('banana', 3))

In [28]:
set(zip(a,b))

{('apple', 1), ('banana', 3), ('orange', 2)}

In [29]:
x = "techpro"
y = "sedat"
z = "ali"

In [30]:
list(zip(x,y,z))

[('t', 's', 'a'), ('e', 'e', 'l'), ('c', 'd', 'i')]

In [31]:
list(zip("techpro", [], (1,2,3)))

[]

In [32]:
dict(zip(x,y,z))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [ ]:
help(zip)