## zip()

In [2]:
a = ["apple", "orange", "banana"]
b = [1,2,3]

In [3]:
zip(a,b)

In [4]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('banana', 3)]

In [5]:
x = "techpro"
y = "sedat"
z = "ali"

In [6]:
list(zip(x,y,z))

[('t', 's', 'a'), ('e', 'e', 'l'), ('c', 'd', 'i')]

In [7]:
list(zip("techpro", [], (1,2,3)))

[]

## enumerate

In [8]:
a

['apple', 'orange', 'banana']

In [10]:
enumerate(a)

In [11]:
list(enumerate(a))

[(0, 'apple'), (1, 'orange'), (2, 'banana')]

In [12]:
tuple(enumerate(a))

((0, 'apple'), (1, 'orange'), (2, 'banana'))

In [13]:
list(enumerate(a,100))

[(100, 'apple'), (101, 'orange'), (102, 'banana')]

In [14]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [16]:
print(num)

[48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [17]:
min(num)

5

In [18]:
max(num)

55

In [19]:
len(num)

40

In [21]:
print(list(range(5,56)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55]

In [23]:
#num listesindeki min ve max sayılar arasında kayıp tam sayılar bulunmaktadır. kayıp sayıları bulun

num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

empty_list = []

for i in range(min(num),max(num) + 1):
    if i not in num:
        empty_list.append(i)

print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [24]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

empty_list = []

for i in range(min(num),max(num) + 1):
    if i in num:
        continue
    empty_list.append(i)

print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [26]:
print(set(range(min(num),max(num) + 1)))

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55}

In [27]:
print(set(num))

{5, 6, 7, 9, 10, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22, 24, 26, 27, 28, 29, 30, 33, 34, 35, 36, 37, 39, 41, 42, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55}

In [28]:
set(range(min(num),max(num) + 1)) - set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [29]:
# num listesi içindeki sayılardan 3 e bölünemeyenleri bulun

num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

empty_list = []
for i in num:
    if i % 3 != 0:
        empty_list.append(i)    

print(empty_list)

[10, 11, 5, 52, 28, 29, 53, 19, 20, 47, 55, 41, 7, 17, 26, 22, 37, 46, 44, 34, 13, 35, 16, 50]

In [30]:
# num listesi içindeki sayılardan 3 e bölünemeyenleri bulun

num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

empty_list = []
for i in num:
    if i % 3 == 0:
        continue
    empty_list.append(i)    

print(empty_list)

[10, 11, 5, 52, 28, 29, 53, 19, 20, 47, 55, 41, 7, 17, 26, 22, 37, 46, 44, 34, 13, 35, 16, 50]

In [32]:
print(empty_list)

[10, 11, 5, 52, 28, 29, 53, 19, 20, 47, 55, 41, 7, 17, 26, 22, 37, 46, 44, 34, 13, 35, 16, 50]

In [33]:
empty_list.sort()

In [35]:
print(empty_list)

[5, 7, 10, 11, 13, 16, 17, 19, 20, 22, 26, 28, 29, 34, 35, 37, 41, 44, 46, 47, 50, 52, 53, 55]

# List Comprehension

In [37]:
liste_1 = [1,2,3,4,5]
empty_list = []
for i in liste_1:
    empty_list.append(i ** 2)
print(empty_list)

[1, 4, 9, 16, 25]

In [38]:
[ i ** 2  for i in liste_1  ] #düz list comp kullanımı

[1, 4, 9, 16, 25]

In [51]:
liste_2 = [1,4,8,25,96,88,44,75,36,27,24,15]

In [43]:
evens = []
for i in liste_2:
    if i % 2 == 0:
        evens.append(i)
evens

[4, 8, 96, 88, 44, 36, 24]

In [52]:
a = [  i for i in liste_2 if i % 2 == 0  ]
a

[4, 8, 96, 88, 44, 36, 24]

In [45]:
[  i for i in liste_2 if i % 2  ] #if ile list comp kullanımı

[1, 25, 75, 27, 15]

In [53]:
1 % 2

1

In [47]:
if 1:
    print("bunu çalıştırır")

bunu çalıştırır

In [48]:
if 0:
    print("bunu çalıştırmaz")

In [50]:
if "0":
    print("bunu çalıştırır")

bunu çalıştırır

In [55]:
liste_3 = [1,2,3,4,5,6,7,8,9]

In [56]:
empty_list = []
for i in liste_3:
    if i % 2:
        empty_list.append(i)
    else:
        empty_list.append(i ** 2)
empty_list

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [57]:
[  i  if i % 2 == 1  else i ** 2  for i in liste_3  ] #if else ile list comp kullanımı

[1, 4, 3, 16, 5, 36, 7, 64, 9]

In [61]:
liste_4 = ["renault*","fiat?!","ford?!"]
liste_4

['renault*', 'fiat?!', 'ford?!']

In [62]:
[i.replace("?","").replace("!","") for i in liste_4]

['renault*', 'fiat', 'ford']

## nested loops

In [63]:
for i in ["Murat","Filiz","Techpro"]:
    for j in [1,2,3,4,5]:
        print(i,j)

Murat 1
Murat 2
Murat 3
Murat 4
Murat 5
Filiz 1
Filiz 2
Filiz 3
Filiz 4
Filiz 5
Techpro 1
Techpro 2
Techpro 3
Techpro 4
Techpro 5

In [64]:
for i in [1,2,3,4]:
    for j in [5,6,7,8]:
        for z in [9]:
            print(i,j,z)

1 5 9
1 6 9
1 7 9
1 8 9
2 5 9
2 6 9
2 7 9
2 8 9
3 5 9
3 6 9
3 7 9
3 8 9
4 5 9
4 6 9
4 7 9
4 8 9

In [68]:
for i in range(2,3):
    for j in range(10):
        print(f"{i} x {j} = {i*j}")

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

## Armstrong Number

In [70]:
len(153)

TypeError: object of type 'int' has no len()

In [71]:
len("153")

3

In [69]:
1 ** 3 + 5 ** 3 + 3 ** 3

153

In [73]:
for i in "153":
    print(int(i))

1
5
3

In [74]:
x = input("bir sayı giriniz")
uzunluk = len(x)

for i in x:
    print(int(i) ** uzunluk)

64
0
343

In [76]:
x = input("bir sayı giriniz")
uzunluk = len(x)

toplam = 0 

for i in x:
    toplam += int(i) ** uzunluk

toplam

407

In [79]:
x = input("bir sayı giriniz")
uzunluk = len(x)

toplam = 0

for i in x:
    toplam += int(i) ** uzunluk
    
if toplam == int(x):
    print("Girdiğiniz sayı Armstrong bir sayıdır")
else:
    print("girdiğiniz sayı Armstrong değildir")

girdiğiniz sayı Armstrong değildir

In [83]:
# list comp
x = input("bir sayı giriniz")
uzunluk = len(x)

toplam =  sum([int(i) ** uzunluk for i in x])

    
if toplam == int(x):
    print("Girdiğiniz sayı Armstrong bir sayıdır")
else:
    print("girdiğiniz sayı Armstrong değildir")

Girdiğiniz sayı Armstrong bir sayıdır

## 10 ile 10000 arasındaki armstrong numberları bulun.

In [88]:
empty_list_1 = []

for x in range(10,10001):
    uzunluk = len(str(x))

    toplam = 0

    for i in str(x):
        toplam += int(i) ** uzunluk
        
    if toplam == int(x):
        empty_list_1.append(x)

empty_list_1

[153, 370, 371, 407, 1634, 8208, 9474]

In [89]:
for x in range(10,10001):
    uzunluk = len(str(x))

    toplam = 0

    toplam = sum([int(i) ** uzunluk for i in str(x)])
        
        
    if toplam == int(x):
        empty_list_1.append(x)

empty_list_1

[153, 370, 371, 407, 1634, 8208, 9474, 153, 370, 371, 407, 1634, 8208, 9474]