In [4]:
print('''python is awesome programming language''')

python is awesome programming language

In [6]:
('''python is awesome programming language''')

'python is awesome programming language'

In [9]:
print("")

In [8]:
print(" ")

In [10]:
print('''''')

In [11]:
print('''"''')

"

In [12]:
print("""python is a"wesome""")

python is a"wesome

In [ ]:
print("""python is a"""wesome""")

In [ ]:
print('''')

In [13]:
print("     '      ")

     '

In [14]:
print("""bugün python dersinin ikincisi.
Ikınci derse yine tırnakları işleyerek başladık.
İnşallah bi yerde biter bu tırnak mevzusu""")

bugün python dersinin ikincisi.
Ikınci derse yine tırnakları işleyerek başladık.
İnşallah bi yerde biter bu tırnak mevzusu

In [15]:
print("bugün python dersinin ikincisi.
Ikınci derse yine tırnakları işleyerek başladık.
İnşallah bi yerde biter bu tırnak mevzusu")

SyntaxError: EOL while scanning string literal (Temp/ipykernel_10344/3307695478.py, line 1)

# pep8 kuralları

In [16]:
print("""bugün python dersinin ikincisi. 
Ikınci derse yine tırnakları işleyerek başladık. 
İnşallah bi yerde biter bu tırnak mevzusu""") #pep8 kuralı gereği bir satırda 79 karakterden fazlasını istemiyoruz.

bugün python dersinin ikincisi.
Ikınci derse yine tırnakları işleyerek başladık.
İnşallah bi yerde biter bu tırnak mevzusu

# comment

In [18]:
3 + 5 #3 ile 5 in toplamı işlemini yapar.

8

In [ ]:
3 + 5 # 3 ile 5

# Variables

In [19]:
age = 32

In [20]:
age

32

In [21]:
name = "sedat"

In [22]:
name

'sedat'

In [23]:
print(name)

sedat

In [26]:
name2 = 'sedat'

In [27]:
name3="murat"

In [28]:
name3

'murat'

In [ ]:
name_4 = "hasan"

In [29]:
5name = "ahmet"

SyntaxError: invalid syntax (Temp/ipykernel_10344/3347673357.py, line 1)

In [30]:
5_name = "ahmet"

SyntaxError: invalid decimal literal (Temp/ipykernel_10344/3348856080.py, line 1)

In [31]:
first_name = "yavuz"
last_name = "aktaş"

In [ ]:
f_n = "yavuz"

In [32]:
pi_number = 3.14

In [33]:
pi_num = 3.14

In [34]:
pi-num = 3.14

SyntaxError: cannot assign to operator (Temp/ipykernel_10344/468832315.py, line 1)

In [35]:
pi = 3
num = 1

In [37]:
pi-num

2

In [38]:
name_5 = "serap"
name_6 = "arif"

In [39]:
name_7,name_8 = "selim","mehmet ali"

In [40]:
name_7

'selim'

In [41]:
name_8

'mehmet ali'

In [42]:
name_9,name_10 = "özgür"

ValueError: too many values to unpack (expected 2)

In [43]:
name_11 = "berat","lilibet"

In [44]:
name_11

('berat', 'lilibet')

In [47]:
name_7name_8 = "sedat"

In [48]:
name_7

'selim'

# Data Types

In [ ]:
"Hello World" #string, str

In [49]:
print(type("Hello World"))

<class 'str'>

In [51]:
name_7

'selim'

In [52]:
print(type(name_7))

<class 'str'>

In [53]:
age

32

In [54]:
print(type(age))

<class 'int'>

In [55]:
print("3" + "5") #string ifadelerde toplama işlemi yapılır

35

In [56]:
type("3" + "5")

str

In [57]:
print("4" * 5 )

44444

In [58]:
print("41" * 3)

414141

In [59]:
"sedat" * 3

'sedatsedatsedat'

In [61]:
"sedat " * 3

'sedat sedat sedat '

In [60]:
2 * 3

6

In [63]:
name_7

'selim'

In [64]:
print("name_7" * 3)

name_7name_7name_7

In [65]:
print(name_7 * 3)

selimselimselim

In [66]:
print("'h'"'   ''ello world')

'h'   ello world

In [67]:
"""sedat"""

'sedat'

In [68]:
print(""sedat"")

SyntaxError: invalid syntax (Temp/ipykernel_10344/549765579.py, line 1)

In [73]:
"s""e""d""a""t"

'sedat'

In [74]:
pi_number

3.14

In [75]:
type(pi_number)

float

In [76]:
pi_num_1 = 3,14

In [77]:
pi_num_1

(3, 14)

In [78]:
type(pi_num_1)

tuple

In [79]:
type("3.14")

str

In [80]:
type("3,14")

str

In [81]:
type(False)

bool

In [82]:
type(True)

bool

In [83]:
type(false)

NameError: name 'false' is not defined

In [84]:
x, y, z = "banana", "apple", "orange"
print(x)
print(y)
print(z)

banana
apple
orange

In [85]:
x

'banana'

In [86]:
print(x)

banana

In [87]:
x
y
z

'orange'

In [91]:
x
z
y

'apple'

In [90]:
type(x)

str

In [92]:
my_age = 32
your_age = 50
my_age = your_age

In [93]:
my_age

50

In [94]:
my_age = 55

In [95]:
my_age

55

In [96]:
person = "John"
age = 30
department = "Data Scientist"
salary = 120000
person = "Adam"
age = 32
department = "Web Developer"
salary = 110000

In [97]:
print(person)
print(department)
print(salary)
print(age)

Adam
Web Developer
110000
32

In [98]:
person = "John"
age = 30
department = "Data Scientist"
salary = 120000
person = "Adam"
age = 32
department = "Web Developer"
#salary = 110000

In [99]:
print(person)
print(department)
print(salary)
print(age)

Adam
Web Developer
120000
32

In [100]:
x = "Techpro"
y = x
x = "python"

In [101]:
print(x)
print(y)

python
Techpro

In [108]:
print

In [102]:
x,y,z = a,b,c

NameError: name 'a' is not defined

In [103]:
x,y,z = "a","b","c"

In [104]:
print(x)
print(y)
print(z)

a
b
c

In [105]:
a,b,c = 5,10,15

In [106]:
x,y,z = a,b,c

In [107]:
print(x)
print(y)
print(z)

5
10
15

In [110]:
x = "Techpro"
y = x
x = "python"

In [111]:
print(y)
print(x)

Techpro
python