In [1]:
jan, march, may, jul, august, oct, dec=31
feb=28
apr, jun, sep, nov=30

TypeError: cannot unpack non-iterable int object

In [2]:
jan = march = may = jul = august = oct = dec = 31
apr = jun = sep = nov = 30
feb = 28

In [3]:
print(jan, feb, march, apr, may, jun, jul, august, sep, oct, nov, dec)

31 28 31 30 31 30 31 31 30 31 30 31

In [6]:
jan ,march ,may ,jul ,august ,oct ,dec = 31
feb = 28
apr , may, nov = 30

TypeError: cannot unpack non-iterable int object

# Type Conversion

### all types to str

In [4]:
age = 30

In [5]:
print(age)

30

In [6]:
type(age)

int

In [7]:
converted_age = str(age)

In [8]:
converted_age

'30'

In [9]:
type(converted_age)

str

In [10]:
pi_number = 3.14

In [11]:
type(pi_number)

float

In [12]:
converted_pi_number = str(pi_number)

In [13]:
converted_pi_number

'3.14'

In [14]:
x = False

In [15]:
type(x)

bool

In [16]:
converted_x = str(x)

In [17]:
converted_x

'False'

In [18]:
print(converted_x)

False

In [19]:
type(converted_x)

str

### input() fonksiyonu

In [22]:
input("enter your age")

'30'

In [23]:
your_age = input("enter your age")

In [24]:
your_age

'18'

In [28]:
input("enter your job")

'30'

In [29]:
your_job = input("enter your job")

In [30]:
your_job

'32'

#### float to int

In [31]:
pi_number

3.14

In [32]:
int(pi_number)

3

In [33]:
int(3.56)

3

In [34]:
z = 5.9
z = int(z)
z

5

In [35]:
type(z)

int

In [36]:
print(type(z))

<class 'int'>

In [37]:
pi =3.12
type(pi)
int(pi)
type(pi)

float

In [39]:
pi = 3.12
#pi = type(pi)
pi = int(pi)
type(pi)

int

#### int to float

In [40]:
float(3)

3.0

#### str to float

In [41]:
age = "on sekiz"

In [42]:
float(age)

ValueError: could not convert string to float: 'on sekiz'

In [43]:
pi_number = "3.14"

In [44]:
float(pi_number)

3.14

In [ ]:
age = "on sekiz"

In [45]:
pi_number

'3.14'

In [ ]:
3.14

In [46]:
float("3")

3.0

In [47]:
float("3.14a")

ValueError: could not convert string to float: '3.14a'

In [48]:
int("6")

6

In [50]:
int("6,0")

ValueError: invalid literal for int() with base 10: '6,0'

In [51]:
age = input("enter your age")

In [52]:
job = input("enter your job")

In [53]:
print(age)
print(job)

32
data scientist

In [54]:
print(type(age))
print(type(job))

<class 'str'>
<class 'str'>

In [55]:
2023 - age

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [56]:
2023 - int(age)

1991

In [57]:
age_2 = int(input("enter your age"))

In [58]:
age_2

35

In [60]:
age_3 = int(input("enter your age")) # rakamla yazmazsak hata verir.

ValueError: invalid literal for int() with base 10: 'otuz iki'

In [61]:
str(false)

NameError: name 'false' is not defined

In [62]:
str(False)

'False'

In [63]:
int(False)

0

In [64]:
int(True)

1

In [65]:
float(True)

1.0

In [66]:
x = 5.6
int(x)
print(type(x))

<class 'float'>

In [67]:
x = 5.6
x = int(x)
print(type(x))

<class 'int'>

In [68]:
x = 25
y = "15"
z = "2.5"
w = "I'm at_"

In [72]:
print(w + str(x))

I'm at_25

In [69]:
print(x - int(y))
print(x - float(z))
print(z + str(x))

10
22.5
2.525

In [71]:
type(z + str(x))

str

In [73]:
int("25")

25

In [74]:
int("25a")

ValueError: invalid literal for int() with base 10: '25a'

In [75]:
pi = 3.14
type(pi)
int(pi)
type(pi)

float